.body-login {
    background-color: #FFB6C1;
}

.login-panel {
    margin-top: 10%;
}

.page-header {
    border-bottom: none;
}

.bem-vindo {
	float: right;
}

.navbar-topmake {
	background-color: #FFB6C1;
}

.navbar-topmake a {
	color: black !important;
}

.topmake-link:hover {
	color: white!important;
}

.slide-image, #carousel-example-generic {
	width: 800px;
	height: 600px;
}

input[name=produto-qtd] {
	width: 50px;
	margin-right: 5px;
	text-align: right;
}

.tabela-carrinho th {
	text-align: center;
}

.td-produto {
	text-align: left;
	width: 50%;
}

.td-valor {
	text-align: right;
	width: 15%;
}

.td-qtd {
	text-align: right;
	width: 15%;
}

.td-subtotal {
	text-align: right;
	width: 20%;
}

.td-total {
	text-align: right;
	font-weight: bold;
}

.td-valor-total {
	text-align: right;
	font-weight: bold;
}

.cartao-dados {
	margin-top: 20px;
}

.cartao-dados input, div {
	margin-top: 4px;
}

.botao-topmake {
	width: 200px;
}

.rodape {
	text-align: center;
}